<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BookManagementSystem.Properties.Settings.bookShopConnectionString"
            connectionString="Data Source=ATLAS-OUGHIUHO0\SQLEXPRESS;Initial Catalog=bookShop;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>